@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    font-family: 'Robot mono', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161616;

}
section{
    padding: 28px 8%;
}

/* botão principal */
.div-botao-assinar{
    display: flex;
    gap: 5px;
}
/* Correção global de links e fontes */
a {
    text-decoration: none; /* Remove sublinhado de todos os links */
    color: inherit;
}

/* Ajuste do botão para ser 100% clicável */
.btn-login {
    border: none;
    display: inline-flex; /* Melhor que flex para botões de texto */
    justify-content: center;
    align-items: center;
    background-color: #53589A;
    border-radius: 33px;
    padding: 10px 20px; /* Aumentei um pouco o preenchimento */
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
    gap: 10px;
}

.btn-login:hover {
    background-color: #373b68;
    transform: translateY(-2px); /* Efeito suave ao passar o mouse */
}

/* Títulos das seções */
.section-title {
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
}
